.expertise-container {
    display: flex;
    width: 100%;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.expertise-container h1 {
  font-size: 30px;
}

.expertise-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
   
}
.expertise-list {
    margin-top: 30px;
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.expertise-card {
    /* border: 1px solid white; */
    /* background: linear-gradient(to right, black, white); */
    border-radius: 10px;
    background: linear-gradient(98.88deg, #203040 -1.89%, #203040 98.78%);
    /* background-color: black; */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.expertise-card h3 {
    text-align: center;
}

.expertise-card p {
    line-height: 1.5rem;
}

.tech-stack-container {
    display: flex;
    gap: 8px;
    justify-content: space-around;
    width: 100%;
}

 p {
    margin: 0;
 }

 
@media screen and (min-width: 768px) {
    .expertise-container {
        height: 700px;
        margin-top: 100px;
    }
    .expertise-container h1 {
        margin-top: 200px;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .expertise-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 100px;
        padding-right: 100px;
        justify-content: center;
        gap: 16px;
        margin-bottom: 100px;
    }
    .expertise-card {
        gap: 16px;
        width: 320px;
       
    }
  }

/* @media screen and (min-width: 1024px) {
    .expertise-container {
        margin-top: 100px;
    }
} */