.project-page-container {
    padding: 20px;
    height:fit-content;
    margin-top: 50px;
   
}

.project-title {
    text-align: center;
 
}

.project-information-container {
   display: flex;
   flex-direction: column;
   gap: 16px;


   
  
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
    height: 250px;
  
   
}

.description-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.description-container h3 {
    text-align: center;
}

.description-list li {
    list-style: none;
}

.project-image-container {
    margin-top: 20px;
}

.project-image img {
    width: 100%;
    height: 250px;
    border: 1px solid #16202A; 
}

@media screen and (min-width: 768px) {
    
   .project-information-container {
       flex-direction: row;
       margin-left: 300px;
       margin-right: 300px;
   }

   .description-container {
       width: 600px;
   }
   .project-image-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }

    .project-image img {
        width: 600px;
        height: 400px;
    }

}