


.responsive-info-navbar-container {
    border-radius: 10px;
    background-color: black;
    width: 95%;
    height: 200px;
}

.responsive-info-navbar-close {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0;
    cursor: pointer
}

.responsive-info-links {
   padding: 0 20px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.lenguage {
    cursor: pointer;
    color: #84D6EA;
}

.change-language-mobile {
    display: flex;
    gap: 16px;
   justify-content: center;
   align-items: end;
   height: 70px
    
}